@font-face {
  font-family: foto-body;
  src: url(./fonts/CrimsonPro-ExtraLight.ttf);
}

@font-face {
  font-family: foto-subtitle;
  src: url(./fonts/CrimsonPro-Regular.ttf);
}

@font-face {
  font-family: foto-title;
  src: url(./fonts/QuincyCFBold.ttf);
}
