@font-face {
  font-family: foto-titles;
  src: url(./fonts/Párrafos\ _\ Soehne\ Leicht.woff2);
}

@font-face {
  font-family: foto-subtitles;
  src: url(./fonts/Subtítulos\ _\ Soehne\ Leicht\ Kursiv.woff2);
}

@font-face {
  font-family: foto-text;
  src: url(./fonts/Títulos\ _\ Soehne\ Kraftig.woff2);
}
