.background {
  width: 100%;
  height: 60vh;
  background-color: #8a644c;
  color: #f3e4dd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .calltoAction__text_container {
    .calltoAction__text {
      text-align: center;
      font-size: 3rem;
    }
  }
  .calltoAction__button_container {
    width: 50%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    .calltoAction__button {
      width: 25%;
      height: 63%;
      color: #f3e4dd;
      letter-spacing: 1px;
      font-size: 1.05rem;
      border: 2px solid #f3e4dd;
      border-radius: 20px;
      background-color: transparent;
      margin-top: 5%;
      &:hover {
        cursor: pointer;
        transition: .40s;
        background-color: #f3e4dd;
        color: #8a644c;
      }
    }
  }
}
