@import '../SASS_DEFAULT/_colors.scss';
@import '../SASS_DEFAULT/_fonts.scss';

.profile__main_container {
  width: 100%;
  min-height: 100vh;
  margin: 0 17vw 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.profile__section__main_container {
  width: 65%;
  height: 100vh;
  margin: 0 17vw 0 0;
  .profile__avatar__main_container {
    width: 100%;
    height: 20%;
    margin: 7% 0 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .profile__avatar_container {
      height: 80%;
      width: 11%;
      border-radius: 50%;
      margin: 0 0 0 7%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  .profile__name_container {
    margin: 1% 0 0 0;
    h2 {
      width: 50%;
      font-size: 2.5rem;
      font-family: foto-title;
      margin: 0 0 0 9%;
    }
    p {
      margin: 0;
      width: 20%;
      margin: 0 0 0 9%;
      font-family: foto-subtitle;
      font-size: 1.1rem;
      opacity: .6;
    }
  }

  .profile__short_container {
    margin: 1% 0 0 0;
    .profile__short_description {
      width: 50%;
      font-family: foto-body;
      font-size: 1.2rem;
      margin: 0 0 0 9%;
    }
  }

  .profile__description_container {
    margin: 1% 0 0 0;
    .profile__short_description {
      width: 60%;
      font-family: foto-body;
      font-size: 1.2rem;
      margin: 0 0 0 9%;
    }
  }
}

.hr {
  border: none;
  border-top: .5px solid $black;
  width: 60%;
  margin: 5% 7%;
}
