@import '../SASS_DEFAULT/_colors.scss';
@import '../SASS_DEFAULT/_fonts.scss';

.home__aside__profile__main_container {
  height: 100vh;
  border-left: 1px solid $green;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdf7f763;
}
